<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Offertunity</title>
        <link rel='stylesheet' href='/stylesheets/main.css' />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    </head>
    <body>
         <div class ="top-banner">
            <div class="blue-banner col-sm-2 col-xs-2">&nbsp;</div>
            <div class="blue-banner col-sm-4 col-xs-2"><p>&#9906; You are from <%=location%> &#8893</p></div>
            <div class="blue-banner col-sm-6 col-xs-2">&nbsp;</div>
        </div>

      

        <div class ="row">
            <div class="whiteBG col-sm-8 col-xs-6">
            <img src="images/logo.png" />
            </div>
            <div class="whiteBG col-sm-4 col-xs-4">
            <a href ="/signup" class="btn btn-primary"> Signup </a>
            <a href ="/login" class="btn btn-warning"> Login </a>
            </div>
        </div>

        <header class="navbar-inverse" role="banner">
            <div class="container">
                <nav role="navigation">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">All Categories</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Automotive</a></li>
                        <li><a href="#">Travel</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
            </div>
        </header>
        <div class = "container">
            <div class = "jumbotron-container col-sm-8">
                <div class="jumbotron">
                    <h1>Hey you!!</h1>
                    <p>Welcome to Offertunity. Here, you can post anything you want done and we'll invite businesses to bid on the work for YOU. You can sit back, relax and watch the offers role in and then decide who you want to give your business too. Simple right? That's the Offertunity way.</p>
                    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
                </div>
            </div>
            <div class="hotoffertunities-container col-sm-4">&nbsp;</div>
        </div>
        <div class = "container">
            <div class="row">
              <div class="col-sm-2 ">
                <div class="thumbnail">
                  <img src="images/<%=HotOffertunity1%>.png" alt="...">
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Bid</a> <a href="#" class="btn btn-default" role="button">Watch</a></p>
                  </div>
                </div>
              </div>
            <div class="col-sm-2 ">
                <div class="thumbnail">
                  <img src="images/<%=HotOffertunity2%>.png" alt="...">
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Bid</a> <a href="#" class="btn btn-default" role="button">Watch</a></p>
                  </div>
                </div>
            </div>
            <div class="col-sm-2 ">
                <div class="thumbnail">
                  <img src="images/<%=HotOffertunity3%>.png" alt="...">
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Bid</a> <a href="#" class="btn btn-default" role="button">Watch</a></p>
                  </div>
                </div>
            </div>
        </div>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
